{{#each resGet}}
<ul>
    <li>Nodo : {{this.Node}}</li>
    <li>IP : {{this.ip}}</li>
    <li>Technology : {{this.technology}}</li>
    <li>Availability : {{this.availability}}</li>
    <li>Frequency : {{this.frequency}}</li>
    <li>Channel : {{this.channel}}</li>
    <li>CountSM : {{this.countSM}}
    <li>MB : {{this.MB}}</li>
    <li>ServiceMax : {{this.serviceMax}}</li>
</ul>
{{/each}}